.bazinga-overlay-bg { 
    position: fixed;
    height: 100%;
    width: 100%;
    background: #000;  /* fallback for browsers that don't support rgba' */
    background: rgba(0,0,0,.8);
    z-index: 100; /* Make sure it's really on top of things'*/
    display: none; /* jQuery will change this later */
    top: 0;
    left: 0;
}

.bazinga-overlay {
    visibility: hidden; /* jQuery changes this later */
    top: 50px;
    left: 50%;
    margin-left: -300px;
    width: 520px;
    position: absolute;
    background-color: #22252a;
    z-index: 101; /* 1 above the background */
    padding: 30px 40px 34px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
    -box-shadow: 0 0 10px rgba(0,0,0,.4);
    width: 600px;
}

/* I just used a "x" character */
.bazinga-overlay .close-bazinga-overlay {
    font-size: 22px;
    line-height: .5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: #aaa;
    font-weight: bold;
    cursor: pointer;
} 

#theOverlay form {
  width: 82%;
  font-weight:normal;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 0px;
  font-family: helvetica;
  margin-left: 0;
}

#theOverlay input[type=text], #theOverlay input[type=password] {
    display: block;
    margin: 10px 0 1em 0;
    width: 400px;
    border: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius:3px;
    padding: 10px;
}

#theOverlay input[type=submit], #theOverlay form a{
    border: none;
    margin-right: 1em;
    padding: 6px;
    text-decoration: none;
    font-size: 16px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #AE81E1;
    color: #FFFFFF;
    -moz-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
  -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}

#theOverlay input[type=submit]:hover, #theOverlay form a:hover {
    background: #FFFFFF;
    color: #A6E22E;
    cursor: pointer;
}

#theOverlay label {
    color: #fff;
}

#theOverlay textarea {
    display: block;
    resize: none;
    overflow: auto;
    width: 400px;
    height: 120px;
    padding: 5px;
    font-size: 10px;
      -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 0;
}